
body {
    font-family: 'Dancing Script';font-size: 22px;
    background-image: url("https://images.unsplash.com/photo-1546449982-a01eedcc37c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 900;
}

header {
    font-size: 100px;
    font-weight: bold;
    color: #E7E4CB;
    text-align: center;
    text-shadow:
		-2px -2px 0 #3B0735,
		2px -2px 0 #3B0735,
		-2px 2px 0 #3B0735,
		2px 2px 0 #3B0735;
} 

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 10px 10px 20px 650px;
    border: 1px solid;
    border-color: #3B0735;
    background-color: #E7E4CB;
    color: #392805;
    text-align: center;
    font-size: 2rem;
    border-radius: 12px;
  
}

.track-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px;
    justify-items: center;
}

.artwork {
    width: 200px;
    height: 200px;
}

.track-player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 15%;
}

.searcherror {
    text-align: center;
    font-size: 10rem strong;
    margin-bottom: 20px;
    color: #000000;
}

